{% extends 'homebase.html' %}

{% block main %}

					

    {% for p in product %}
    <div class="row">
        <div class="col-4">
        <div id="product-slick-1" class="product-slick">
            <div class="product product-single">
                <div class="product-thumb">
                    <div class="product-label">
                        <span>New</span>
                        <span class="sale">-20%</span>
                    </div>
                    <ul class="product-countdown">
                        <li><span>00 H</span></li>
                        <li><span>00 M</span></li>
                        <li><span>00 S</span></li>
                    </ul>
                    <a href="{% url 'product_detail'  p.id %}"><button class="main-btn quick-view"><i class="fa fa-search-plus"></i> Quick view</button></a>
                    <img style="height:250px ; width: 250px;" src="{{ p.image.url}}" alt="">
                </div>
                <div class="product-body">
                    <h3 class="product-price">{{p.price }} сом <del class="product-old-price">$45.00</del></h3>
                    <div class="product-rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o empty"></i>
                    </div>
                    <h2 class="product-name"><a href="#">{{p.title	}}</a></h2>
                    <div class="product-btns">
                        <button class="main-btn icon-btn"><i class="fa fa-heart"></i></button>
                        <button class="main-btn icon-btn"><i class="fa fa-exchange"></i></button>
                        <button class="primary-btn add-to-cart"><i class="fa fa-shopping-cart"></i> Add to Cart</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}
</div>


{% endblock main %}
